/* Set default font family and size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-image: url(https://wallpapercave.com/wp/4ccNKOh.jpg);
  }
  
  /* Center the header text */
  header nav h1 {
    text-align: center;
  }
  
  /* Add spacing to the form */
  form {
    margin-bottom: 20px;
  }
  
  /* Center the submit button */
  #submitBtn {
    display: block;
    margin: 0 auto;
  }
  
  /* Add spacing between list items */
  .list-group-item {
    margin-bottom: 10px;
  }
  
  /* Add background color and padding to game info */
  .game-info {
    background-color: #c1c7cc;
    padding: 10px;
  }
  
  /* Style the team names */
  .team-names {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Style the odds table */
  #oddsTable th {
    text-align: center;
    font-weight: bold;
  }
  
  #oddsTable td {
    text-align: center;
  }
  

  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-names {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}


